@model IEnumerable<DevPrep.Models.SoftwareLanguage>

@{
    ViewData["Title"] = "Index";
}

<h1>Technologies</h1>


<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               
                @Html.ActionLink("Details", "Details", new {id=item.id}) |
                
            </td>
        </tr>
}
    </tbody>
</table>
