@model IEnumerable<DevPrep.Models.SoftwareLanguage>

@{
    ViewData["Title"] = "Index";
}

<h1>Technologies</h1>
<h3>Choose a Technology you'd like to review</h3>


<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.ActionLink(item.Name, "Index", "Concepts", new { id = item.id }, new { area = "" })
            </td>
        </tr>
}
    </tbody>
</table>
