@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome to DevPrep</h1>
    <p>Review your Technologies and Prepare for interviews.</p>

</div>
<div style="display :flex; flex-direction: row; justify-content: space-around; ">
    <img style="margin:0 auto" src="~/Images/person using laptop.jpeg" />
</div>
